:root {
    --defalt: #440028;
    --empty: #651142;
    --wrong: #A1A538;
    --right: #459331;
    /* --defalt: #121213;
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--defalt);
}

.header {
    background-color: black;
    margin: 0 auto;
    width: 90%;
}

.header ul {
    display: flex;
    text-align: center;
    list-style: none;
    margin-left: 40px;
    height: 8vh;
}

.header li {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 1.5rem;
}

.header a {
    color: white;
    text-decoration: none;
}

#game {
    display: grid;
    place-items: center;
    width: 100%;
    height: 500px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
}

.box {
    width: 60px;
    height: 60px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
}

.box.empty {
    background-color: var(--empty);
}

.box.wrong {   
    background-color: var(--wrong);
}

.box.right {
    background-color: var(--right);
}

.animated {
    animation: flip .5s ease;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}